#menu {
    background-color:#A9A9A9;
    background-image:url('https://images5.alphacoders.com/439/thumb-1920-439553.jpg');
    background-repeat:repeat;
    background-position:center;
    background-size: 1350px 875px;
    }

.maquina {
            text-align: center;
            color: yellow;
        }