body {
    background-color: #B0C4DE;
    font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times,  serif;
    
}
h2{
    color: #000080;
    text-align: center;
}
P{
    font-size: 30px;
    font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times,  serif;
    color: #6495ED;
    
}